.vscode/**
.vscode-test/**
node_modules/**/*
!node_modules/@types/vscode
!node_modules/istextorbinary
!node_modules/textextensions
!node_modules/binaryextensions
out/test/*
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
